In [18]:
%matplotlib inline

import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from pandas.tools.plotting import table
import json
from IPython.display import display
import re

In [19]:
!dir

 Volume in drive C is OS
 Volume Serial Number is C0B6-74F0

 Directory of C:\Users\justin\Documents\GitHub\A425_2016\Students\justinDirectory

10/27/2016  05:11 PM    <DIR>          .
10/27/2016  05:11 PM    <DIR>          ..
10/27/2016  01:30 PM    <DIR>          .ipynb_checkpoints
10/20/2016  01:20 AM             7,539 Access email.ipynb
10/27/2016  01:24 PM           740,936 David2517Update.json
10/25/2016  04:58 PM    <DIR>          IGM J1059+2517 - jutnlife@gmail.com - Gmail_files
10/25/2016  04:58 PM         2,088,408 IGM J1059+2517final.html
10/27/2016  01:28 PM            71,185 IGM_JSON_DOUG-Copy1.ipynb
10/27/2016  04:58 PM            76,288 IGM_JSON_DOUG.ipynb
10/25/2016  05:23 PM           827,102 IGM_model_final1.json
10/27/2016  05:10 PM           828,445 IGM_model_master.json
10/25/2016  04:57 PM         2,091,639 ipython notebook - jutnlife@gmail.com - Gmail.html
10/25/2016  05:00 PM    <DIR>          ipython notebook - jutnlife@gmail.com - Gmail_files
09/28/2016  05:49 PM                27 justin_homework1
10/22/2016  05:50 PM            83,002 Justin_Homework_2_Revised.ipynb
10/26/2016  07:19 PM           105,831 Justin_HW3_draft.ipynb
10/27/2016  04:57 PM            71,219 Justin_IGM_J1059+2517.ipynb
10/27/2016  05:08 PM         2,307,582 Master J1059+2517 spectrum analysis - jutnlife@gmail.com - Gmail.html
10/27/2016  05:08 PM    <DIR>          Master J1059+2517 spectrum analysis - jutnlife@gmail.com - Gmail_files
10/25/2016  05:06 PM         2,087,894 meeeeeeee - jutnlife@gmail.com - Gmail.html
10/25/2016  05:06 PM    <DIR>          meeeeeeee - jutnlife@gmail.com - Gmail_files
10/20/2016  12:41 AM             1,714 Scam analyzer.ipynb
09/28/2016  03:07 PM                 7 test again
10/22/2016  06:13 PM             2,418 testing grounds.ipynb
10/22/2016  04:32 PM             1,429 Untitled.ipynb
10/20/2016  12:53 AM             3,335 Untitled1.ipynb
10/20/2016  12:56 AM             1,244 Untitled2.ipynb
              20 File(s)     11,397,244 bytes
               7 Dir(s)  860,296,200,192 bytes free

In [20]:
#Load in file

#with open('J1553+3548_IGM.json') as data_file:    
    #data = json.load(data_file)
    
with open('IGM_model_master.json') as data_file:    
    data = json.load(data_file)

In [21]:
#Read in data from file, identify systems and components

systems=['z0.00000_MW']
components=[]


for cmp in data["cmps"]:
    cmp_dict=data["cmps"][str(cmp)]
    cmp_data=''
    if cmp[-2:]=="HI":
        systems.append(str(cmp))
    cmp_data+=str(cmp)+';'
    cmp_data+=str(cmp_dict["Reliability"])+';'
    if cmp_dict["Comment"]=='':
        cmp_data+='None;'
    else:
        cmp_data+=str(cmp_dict["Comment"])+';'
    cmp_data+=str(cmp_dict["Nfit"])+';'
    cmp_data+=str(cmp_dict["bfit"])+';'
    components.append(cmp_data)

In [22]:
#Sort systems by redshift

def atoi(text):
    return int(text) if text.isdigit() else text

def natural_keys(text):
    return [ atoi(c) for c in re.split('(\d+)', text) ]


systems.sort(key=natural_keys)
print(systems)

#for system in systems[1:]:
    #for line in data["cmps"][system]["lines"].keys():
        #print line

['z0.00000_MW', 'z0.02045_HI', 'z0.02093_HI', 'z0.03235_HI', 'z0.03632_HI', 'z0.05148_HI', 'z0.07881_HI', 'z0.08285_HI', 'z0.10310_HI', 'z0.11873_HI', 'z0.12308_HI', 'z0.12806_HI', 'z0.15421_HI', 'z0.18314_HI', 'z0.20495_HI', 'z0.20799_HI', 'z0.21486_HI', 'z0.21562_HI', 'z0.24550_HI', 'z0.26334_HI', 'z0.26368_HI', 'z0.28124_HI', 'z0.29231_HI', 'z0.29768_HI', 'z0.30026_HI', 'z0.32949_HI', 'z0.34439_HI', 'z0.35996_HI', 'z0.37640_HI', 'z0.38116_HI', 'z0.39082_HI', 'z0.39291_HI', 'z0.40101_HI', 'z0.40388_HI', 'z0.41078_HI', 'z0.41230_HI', 'z0.41495_HI', 'z0.42004_HI', 'z0.42333_HI', 'z0.43872_HI', 'z0.44870_HI', 'z0.44942_HI', 'z0.45216_HI', 'z0.46012_HI', 'z0.54909_HI']

In [23]:
#Sort components by system and visualize

#Note: Systems that are close together (<~0.010) may overlap components in the current build.

for system in systems:
    sys_components=[]
    sys_reliabilities=[]
    sys_comments=[]
    sys_n=[]
    sys_b=[]
    sys_dict={}
    for component in components:
        if component[1]=='-':
            c_z=component[2:9]
        else:
            c_z=component[1:8]
        if abs(float(c_z)-float(system[1:8]))<=0.00167: ## 500 km/s offset. 
            cmp_info=component.split(';')
            sys_components.append(cmp_info[0])
            sys_reliabilities.append(cmp_info[1])
            sys_comments.append(cmp_info[2])
            sys_n.append(cmp_info[3])
            sys_b.append(cmp_info[4])
            sys_dict={'Component':sys_components,'Reliability':sys_reliabilities,'Comment': sys_comments, 'Column Density (N)': sys_n, 'Doppler Profile (b)':sys_b}
    print ("===================================================")
    print ("System: "+system)
    print ("===================================================")
    df = pd.DataFrame(sys_dict,columns = ['Component','Column Density (N)','Doppler Profile (b)', 'Reliability', 'Comment'])
    display(df)

===================================================
System: z0.00000_MW
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z-0.00010_SII,15.18,27.5,a,mw
1,z0.00000_CIV,14.06,54.7,a,mw
2,z-0.00013_CII,15.34,44.4,c,"should bu multi, but only one strong single, mw"
3,z-0.00002_NI,14.89,28.9,None,None
4,z-0.00005_SiIV,13.45,56.2,a,mw
5,z-0.00014_FeII,14.58,45.7,a,mw
6,z0.00001_SiIII,13.87,59.4,a,mw
7,z-0.00001_SiII,14.51,40.0,None,None
8,z-0.00006_AlII,13.51,67.0,a,mw

===================================================
System: z0.02045_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.02045_HI,13.4,21.1,c,lya no + data
1,z0.02093_HI,14.38,41.2,c,lya no + data

===================================================
System: z0.02093_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.02045_HI,13.4,21.1,c,lya no + data
1,z0.02093_HI,14.38,41.2,c,lya no + data

===================================================
System: z0.03235_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.03235_HI,13.37,1.0,c,"lya, weak, no + data"

===================================================
System: z0.03632_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.03632_HI,14.3,39.6,c,"LYA, singlet, OOR"
1,z0.03649_TlII,12.71,18.3,b,"singlet, in uncertain galaxy"

===================================================
System: z0.05148_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.05148_HI,13.84,34.2,c,"single LYA, OOR"
1,z0.05173_SiIV,13.11,46.1,b,"in uncertain galaxy, doublet"

===================================================
System: z0.07881_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.07891_SiIV,13.18,39.9,b,"in uncertain galaxy, doublet"
1,z0.07885_CuII,13.38,45.5,c,Cu2 Si4 at .05173 toss up
2,z0.07891_CII,13.86,37.7,b,None
3,z0.07881_HI,14.72,57.9,c,"single LYA, OOR, strong"

===================================================
System: z0.08285_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.08285_HI,13.56,41.6,c,"LYA, single OOR"

===================================================
System: z0.10310_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.10310_HI,14.17,40.0,c,"single LYA, not nuf data"

===================================================
System: z0.11873_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.11875_OVI,13.94,22.3,b,"doublet, 2nd weak, at lockness"
1,z0.11876_SiIII,12.82,17.9,a,singlet at lockness
2,z0.11873_HI,14.86,33.2,a,"2nd seem as strong as 1st, but possible satura..."
3,z0.11885_CIV,13.91,28.8,a,"at lockness, replace NV"

===================================================
System: z0.12308_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.12308_HI,13.66,25.3,a,Grandma Inet
1,z0.12288_BII,12.74,32.4,b,"singlet, Inet, good fit, offset"

===================================================
System: z0.12806_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.12806_HI              13.33                30.3           c   LyA&B

===================================================
System: z0.15421_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.15421_HI              13.43                23.4           b   LyA&B

===================================================
System: z0.18314_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.18314_HI              13.83                43.8           b   LyA-C

===================================================
System: z0.20495_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.20495_HI              13.49                30.1           c    None

===================================================
System: z0.20799_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability    Comment
0  z0.20799_HI              13.19                33.4           c  Ly series

===================================================
System: z0.21486_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.21486_HI,14.87,38.3,a,Grandpa Igor
1,z0.21482_GaII,12.08,13.7,c,swinglet
2,z0.21562_HI,13.46,34.1,b,Ly series
3,z0.21479_CIII,13.68,41.1,a,strong singlet igor

===================================================
System: z0.21562_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.21486_HI,14.87,38.3,a,Grandpa Igor
1,z0.21482_GaII,12.08,13.7,c,swinglet
2,z0.21562_HI,13.46,34.1,b,Ly series
3,z0.21479_CIII,13.68,41.1,a,strong singlet igor

===================================================
System: z0.24550_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability    Comment
0  z0.24550_HI              13.44                28.4           c  Ly series

===================================================
System: z0.26334_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.26368_HI               13.33                15.7           b    None
1  z0.26334_HI  13.182569712236425   5.922717540856842           b    None

===================================================
System: z0.26368_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.26368_HI               13.33                15.7           b    None
1  z0.26334_HI  13.182569712236425   5.922717540856842           b    None

===================================================
System: z0.28124_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability    Comment
0  z0.28124_HI              13.33                19.8           c  Ly series

===================================================
System: z0.29231_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability    Comment
0  z0.29231_HI              13.38                39.0           b  Ly series

===================================================
System: z0.29768_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.29768_HI               13.4                22.3           c  blehrg

===================================================
System: z0.30026_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.30026_HI,13.42,28.3,c,"Ly series, poor LyB fit"

===================================================
System: z0.32949_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.32949_HI,12.77,1.0,c,"whatt???, weird fit"

===================================================
System: z0.34439_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability    Comment
0  z0.34439_HI              13.28                22.3           b  Ly series

===================================================
System: z0.35996_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.35996_HI              13.59                64.4           b    None

===================================================
System: z0.37640_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.37640_HI  13.396122677925717   43.10329452315135           b    None

===================================================
System: z0.38116_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability      Comment
0  z0.38116_HI              13.23                19.0           c  LyB bad fit

===================================================
System: z0.39082_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.39082_HI  13.705607798230405  28.387204517342628        None    None

===================================================
System: z0.39291_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.39291_HI               14.0                55.4           a    None

===================================================
System: z0.40101_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.40080_PIII,13.2,37.0,b,"triplet, noisy, okay fit, sligh offset, weak gal"
1,z0.40059_NV,14.06,24.1,c,"doublet, 2nd poor, likely another"
2,z0.40101_HI,13.51,51.2,c,crappy fit

===================================================
System: z0.40388_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.40388_HI,13.26,34.7,c,LyB in other absorption

===================================================
System: z0.41078_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.41078_HI  12.760955260374478                 1.0           c    None
1  z0.41230_HI               13.47                16.3           c    None

===================================================
System: z0.41230_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.41078_HI  12.760955260374478                 1.0           c    None
1  z0.41230_HI               13.47                16.3           c    None

===================================================
System: z0.41495_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability  Comment
0  z0.41495_HI              13.75                37.4           b  not bad

===================================================
System: z0.42004_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.42004_HI,13.43,18.0,c,terrible LyB fit

===================================================
System: z0.42333_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.42333_HI              13.23                21.8           c    None

===================================================
System: z0.43872_HI
===================================================

     Component  Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.43872_HI  13.741156644444604   24.76151704148117           c    None

===================================================
System: z0.44870_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.44942_HI,14.59,52.7,a,Name: Grodius Maximus Nebulae
1,z0.44870_HI,13.95,30.0,b,Grodius little brother

===================================================
System: z0.44942_HI
===================================================

,Component,Column Density (N),Doppler Profile (b),Reliability,Comment
0,z0.44942_HI,14.59,52.7,a,Name: Grodius Maximus Nebulae
1,z0.44870_HI,13.95,30.0,b,Grodius little brother

===================================================
System: z0.45216_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability      Comment
0  z0.45216_HI              13.24                23.0           c  LyB bad fit

===================================================
System: z0.46012_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.46012_HI              13.42                38.2           b    None

===================================================
System: z0.54909_HI
===================================================

     Component Column Density (N) Doppler Profile (b) Reliability Comment
0  z0.54909_HI              14.33                42.2           b    tiny